* {
  margin: 0 auto;
  padding: 0;
}

html {
  background-color: #C7F9EB;
}

/* Unused color turquoise A2E8D9 */

h1, h2, h3, p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  color: #4E2A3E;
}

.fa {
  color:#9F5B68;
}

/* Header */

.aligner {
  /*  Display & Box Model */
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center
  justify-content: center;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}

.aligner-item {
  /* Display & Box Model */
  max-width: 800px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: white;
  /* Text */
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 48px;
  color: #9F5B68;
  /* line shadow */
  position: relative;
  margin: 0 auto 80px;
  padding: 70px 0 40px;
  max-width: 840px;
  text-align: center;
  background: #C7F9EB;
} 

.title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.container {
  /* Display & Box Model */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}

.icon {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.box {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 20px -10px #000;
  /* Text */
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.intro {
  /* Display & Box Model */
  padding-top: 10px;
  padding-bottom: 10px;
  /* Text */
  font-size: 16px;
}

/* Large desktops and laptops *
@media (min-width: 1200px) {
  .intro {

  }
}

/* Landscape tablets and medium desktops *
@media (min-width: 992px) and (max-width: 1199px) {
  .intro {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/* Portrait tablets and small desktops *
@media (min-width: 768px) and (max-width: 991px) {
  .intro {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Landscape phones and portrait tablets *
@media (max-width: 767px) {
  .intro {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Portrait phones and smaller *
@media (max-width: 480px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }
}