html {
  background-color: A2E8D9;
}

h1, h2, h3, p, ul {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
  color: white;
}

p {
  color: #4E2A3E;
}

/* Header */

.aligner {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center
  justify-content: center;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}

.aligner-item {
  text-align: center;
  max-width: 50%;
  margin: 10px;
  border-style: solid;
  border-color: white;
}


/* Temporary area for head illustration */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-color: white;
}


.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-color: white;
}



/* Large desktops and laptops *
@media (min-width: 1200px) {
  .intro {

  }
}

/* Landscape tablets and medium desktops *
@media (min-width: 992px) and (max-width: 1199px) {
  .intro {
    padding-left: 200px;
    padding-right: 200px;
  }
}

/* Portrait tablets and small desktops *
@media (min-width: 768px) and (max-width: 991px) {
  .intro {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Landscape phones and portrait tablets *
@media (max-width: 767px) {
  .intro {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Portrait phones and smaller *
@media (max-width: 480px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
  }
}